body {
    background-image: url("img/skyline.webp");
}

.center {
    text-align: center;
}

.top-pad {
    padding-top: 10%;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.inputs input {
    font-size: 1.3em;
    border: 1px solid #000000;
    border-radius: 0.1em;
}